<div class="wrap wrap--aw">
	<div class="aw-notification"></div>

	<h1>Edit: {{ location.name }} (#{{ location.id }})</h1>

	<div class="container" id="windscreens">
		<div class="content">
			<div class="form">
				<div class="section-header">
					<h4>Location Information</h4>
				</div>

				<p>
					<label for="title">Name</label>
					<input type="text" name="title" id="aw_name" placeholder="Enter a Name for the Location" value="{{ location.name }}">
				</p>
				<p>
					<label for="description">Description</label>
					<textarea name="description" id="aw_description" placeholder="Enter a Description">{{ location.description }}</textarea>
				</p>
				<p>
					<label for="phone">Telephone</label>
					<input type="tel" name="phone" id="aw_number" placeholder="Enter a Telephone Number" value="{{ location.number }}">
				</p>
				<p>
					<label for="location">Location</label>
					<input type="text" name="location" id="aw_location" placeholder="Enter a Post Code" value="{{ location.address }}">
					<div id="map"></div>
					<input type="hidden" name="aw_lat" id="aw_lat" value="{{ location.lat }}">
					<input type="hidden" name="aw_lng" id="aw_lng" value="{{ location.lng }}">
				</p>
				<p>
					<label for="radius">Radius</label>
					<input type="number" name="radius" id="aw_radius" placeholder="Enter a Delivery Radius" value="{{ location.radius }}">
				</p>
			</div>
		</div>

		<aside class="sidebar">
			<div>
				<div class="section-header">
					<h4>Update</h4>
				</div>

				<p>{{ button.save | raw }} or {{ button.delete | raw }}</p>
			</div>
		</aside>
	</div>
</div>