<h2>{{ title }}</h2>

{% for loc in locations %}
	<div>
		<h4>{{ loc.name }}</h4>
		<p>
			<b>Lat:</b> {{ loc.lat }} <br>
			<b>Lng:</b> {{ loc.lng }} <br>
			<b>Distance:</b> {{ loc.distance }} <br>
		</p>
	</div>
{% endfor %}