<h2>{{ title }}</h2>

{% for loc in locations %}
	<div>
		<h4>{{ loc.name }}</h4>
		<p>
			<b>Lat:</b> {{ loc.lat }} <br>
			<b>Lat:</b> {{ loc.lat }} <br>
			<b>Radius:</b> {{ loc.radius }} <br>
		</p>
	<div>
{% endfor %}