<h1>Location Result</h1>

<p>
	Your nearest branch is <b>{{ location.name }}</b> which is <b>{{ location.distance | round(2, 'floor') }} miles</b> away from your entered location. 
	
	{% if location.number %}
		To arrange for a callout please ring us on <a href="tel:{{ location.number }}">{{ location.number }}</a>
	{% endif %}		
</p>

<div id="aw_map" style="height: 300px; background: #f7f7f7;" data-lat="{{ location.lat }}" data-lng="{{ location.lng }}"></div>
