<div class="wrap wrap--aw">
	<h1>{{ location.name }}</h1>

	<div>
		<p><a href="#">{{ location.id }}</a></p>
		<p>{{ location.lat }}</p>
		<p>{{ location.lng }}</p>
		<p>{{ location.radius }}</p>
		<p>
			<a href="#" class="icon-holder"><i class="edit icon"></i></a>
			<a href="#" class="icon-holder"><i class="trash icon"></i></a>
		</p>
	</div>
</div>