{% include 'partials/header.twig' %}

	<header class="atk-header">
		<h1>Settings</h1>
	</header>

	<form class="atk-grid atk-form" action="" method="POST">
		<div class="content">
			<div class="atk-box">
				<div class="section-header">
					<h4>General Settings</h4>
				</div>

                <div class="atk-form-row atk-form-row--inline">
					<label for="gmaps_api">Google Maps API Key</label>
                    <div><input type="text" name="gmaps_api" value="{{ options.gmaps_api }}"></div>
				</div>
		
				<input type="hidden" name="action" value="settings_save">
			</div>

			<div class="atk-box">
				<div class="section-header">
					<h4>Delivery Settings</h4>
				</div>
				
				<div class="atk-form-row atk-form-row--inline">
					<label for="delivery_future_days">Turnaround</label>
					<div>
                        <input type="number" name="delivery_future_days" value="{{ options.delivery_future }}" min="0">
                        <p>How many days in the future would you like to schedule deliveries for?</p>
                    </div>
				</div>

				<div class="atk-form-row atk-form-row--inline">
					<label for="delivery_available_days">Delivery Days</label>
					<div>
						<select name="delivery_available_days">
							<option value="5" {% if options.delivery_days == 5 %}selected{% endif %}>Weekdays Only</option>
							<option value="6" {% if options.delivery_days == 6 %}selected{% endif %}>Weekdays + Saturday</option>
							<option value="7" {% if options.delivery_days == 7 %}selected{% endif %}>Weekdays + Weekend</option>
						</select>
                        <p>How many days a week will you deliver the skips?</p>
                    </div>
				</div>
			</div>

			<div class="atk-box">
				<div class="section-header">
					<h4>PayPal Settings</h4>
				</div>

				<div class="atk-form-row atk-form-row--inline">
					<label for="paypal_client_id">Client ID</label>
					<div>
                        <input type="text" name="paypal_client_id" value="{{ options.paypal_client_id }}">
                        <p>Enter your Client ID for the PayPal REST Api.</p>
                    </div>
				</div>

				<div class="atk-form-row atk-form-row--inline">
					<label for="paypal_client_secret">Client Secret</label>
					<div>
                        <input type="text" name="paypal_client_secret" value="{{ options.paypal_client_secret }}">
                        <p>Enter your Client Secret for the PayPal REST Api.</p>
                    </div>
				</div>

				<div class="atk-form-row atk-form-row--inline">
					<label for="paypal_invoice_message">Invoice Message</label>
					<div>
                        <input type="text" name="paypal_invoice_message" value="{{ options.paypal_invoice_message }}">
                        <p>The message which will appear on your invoice.</p>
                    </div>
				</div>

				<div class="atk-form-row atk-form-row--inline">
					<label>Enable Sandbox?</label>
                    <div>
                        <label class="ash-label--inline">
                            <input type="checkbox" name="paypal_enable_sandbox" value="true" {% if options.paypal_enable_sandbox %}checked{% endif %}>
                            Enable sandbox mode for PayPal?
                        </label>
                    </div>
				</div>
		
				<input type="hidden" name="action" value="settings_save">
			</div>

			<p><button type="submit" class="atk-button atk-button--orange">Save</button></p>
		</div>	

		<aside class="sidebar">
			<div class="sidebar__item atk-box">
				<div class="section-header">
					<h4>Helpers</h4>
				</div>

				<p>Need Help? This would be the helper text for admins setting it up</p>
			</div>
		</aside>
	</form>

{% include 'partials/footer.twig' %}
