{% include 'admin/partials/header.twig' %}

	<header class="ad-header">
		<h1>Locations</h1>
		<a href="{{ link.add }}" class="ad-button ad-button--orange action">Add New Location</a>
	</header>

	{% if locations is not empty %}
	<table class="ad-table ad-table__locations">
		<thead>
			<tr>
				<th>Name</th>
				<th>Lat</th>
				<th>Lng</th>
				<th>Radius</th>
				<th class="manage"></th>
			</tr>
		</thead>
		<tbody>
			{% for loc in locations %}
			<tr>
				<td><a href="{{ link.edit }}{{ loc.id }}">{{ loc.name }}</a></td>
				<td>{{ loc.lat }}</td>
				<td>{{ loc.lng }}</td>
				<td>{{ loc.radius }}</td>
				<td>
					<a href="{{ link.edit }}{{ loc.id }}" class="ad-button">Manage</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No locations have been added yet.</p>
	{% endif %}
	
{% include 'admin/partials/footer.twig' %}
