{% include 'admin/partials/header.twig' %}

	<header class="ad-header">
		<h1>Skips</h1>
		<a href="{{ link.add }}" class="ad-button action">Add New Skip</a>
	</header>

	{% if skips %}
	<table class="ad-table ad-table__skips">
		<thead>
			<tr>
				<th>Name</th>
				<th>Details</th>
				<th>Price</th>
				<th class="manage"></th>
			</tr>
		</thead>
		<tbody>
			{% for skip in skips %}
			<tr>
				<td><a href="{{ link.edit }}{{ skip.id }}">{{ skip.name }}</a></td>
				<td class="details">
					<span><b>Width:</b> {{ skip.width }}m</span>
					<span><b>Height:</b> {{ skip.height }}m</span>
					<span><b>Length:</b> {{ skip.length }}m</span>
					<span><b>Capacity:</b> {{ skip.capacity }}mt</span>
				</td>
				<td>£{{ skip.price }}</td>
				<td>
					<a href="{{ link.edit }}{{ skip.id }}" class="ad-button">Manage</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No skips added</p>
	{% endif %}

{% include 'admin/partials/footer.twig' %}