{% include 'admin/partials/header.twig' %}

	<header class="ad-header">
		<h1>Orders</h1>
	</header>

	{% if orders is not empty %}
	<table class="ad-table ad-table__orders">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Order Date</th>
				<th>Delivery Date</th>
				<th>Total (£)</th>	
				<th>Order Status</th>							
				<th class="manage"></th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
			<tr>
				<td><a href="{{ link.edit }}{{ order.id }}">{{ order.id }}</a></td>
				<td>
					<a href="{{ link.edit }}{{ order.id }}">{{ order.forename }} {{ order.surname }}</a></br>
					{{ order.address1 }}, {{ order.city }}, {{ order.postcode}}
				</td>
				<td>{{ order.created_at|date("d/m/Y") }}</td>
				<td>{{ order.delivery_date|date("d/m/Y") }}</td>
				<td>£{{ order.total }}</td>	
				<td>{{ order.status|capitalize }}</td>			
				<td>
					<a href="{{ link.edit }}{{ order.id }}" class="ad-button">Manage</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No orders have been placed yet.</p>
	{% endif %}

	{{ pagination|raw }}
{% include 'admin/partials/footer.twig' %}