{% include 'admin/partials/header.twig' %}

	<header class="ad-header">
		<h1>Edit: {{ permit.name }} (#{{ permit.id }})</h1>
	</header>

	<form class="ad-form" id="permits" action="" method="POST">
		<div class="section-header">
			<h4>Permit Information</h4>
		</div>

		<p>
			<label for="title">Name</label>
			<input type="text" name="title" placeholder="Enter a Name" value="{{ permit.name }}">
		</p>
		<p>
			<label for="price">Price</label>
			<input type="text" name="price" placeholder="Enter a price" value="{{ permit.price }}">
		</p>

		<input type="hidden" name="action" value="permit_update">
		<input type="hidden" name="id" value="{{ permit.id }}">

		<p><button type="submit" class="ad-button">Save</button> {{ delete | raw }}</p>
	</form>

{% include 'admin/partials/footer.twig' %}