{% include 'admin/partials/header.twig' %}

	<header class="ad-header">
		<h1>Coupons</h1>
		<a href="{{ link.add }}" class="ad-button ad-button--orange action">Add New Coupon</a>
	</header>

	{% if coupons %}
	<table class="ad-table ad-table__coupons">
		<thead>
			<tr>
				<th>Code</th>
				<th>Type</th>
				<th>Amount</th>
				<th>Starts</th>
				<th>Expires</th>
				<th class="manage"></th>
			</tr>
		</thead>
		<tbody>
			{% for coupon in coupons %}
			<tr>
				<td><a href="{{ link.edit }}{{ coupon.id }}">{{ coupon.code }}</a></td>
				<td>
					{% if coupon.type == 'flat' %}
						Flat Rate
					{% elseif coupon.type == 'percentage' %}
						Percentage
					{% endif %}
				</td>
				<td>{{ coupon.amount }}</td>
				<td>{{ coupon.starts|date('d/m/Y') }}</td>
				<td>{{ coupon.expires|date('d/m/Y') }}</td>
				<td>
					<a href="{{ link.edit }}{{ coupon.id }}" class="ad-button">Manage</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No coupons added</p>
	{% endif %}

{% include 'admin/partials/footer.twig' %}
